body {
  background: rgb(
    46,
    52,
    64
  );
  background: radial-gradient(
    circle,
    rgba(
        46,
        52,
        64,
        1
      )
      0%,
    rgba(
        76,
        86,
        108,
        1
      )
      175%
  );

  text-align: center;
  background-size: 100%;
  color: #d8dee9;
  font-family: Arial,
    Helvetica,
    sans-serif;
}

.container {
  max-width: 1100px;
  margin: 73px
    auto;
}

@media screen and (max-width: 600px) {
  .container {
    width: 300px;
    /* height: 565px; */
    margin: 0
      auto;
  }
}

main {
  height: auto;
  width: 360px;
  background: #4c566a;
  box-shadow: 5px
    5px
    3px
    #2e3440;
  border-radius: 25px;
}

.user {
  width: 200px;
  border-radius: 150px;
  border: 5px
    solid
    #d8dee9;
  margin-top: 40px;
  margin-bottom: 10px;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
}

h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: normal;
}

a {
  color: #fff;
  text-decoration: none;
  background: rgba(
    255,
    255,
    255,
    0.25
  );
  width: 200px;
  height: 35px;
  line-height: 35px;
  display: inline-block;
  margin-bottom: 10px;
  border-radius: 20px;
}
